* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: darkcyan;
    font-family: 'Nunito', sans-serif;
}

button, label, input, select {
    font-family: 'Nunito', sans-serif;
    background-color: darkcyan;
    color: whitesmoke;
    border: none;
}
.logo_text{
    color: #198754;
}
.eco{
    color: white;
}
.eco:hover{
    color:pink;
}
.logo h6{
    color: lightgray;
}
.info_text p:first-child{
    color:#198754;
}